<div class="jumbotron"
<h1>Welcome to the Deadpool 2 Community</h1>
<p>Sign up <%= link_to "here", "#", class: "btn btn-primary-lg" %> and follow us daily on our journey to making this film!</p>
</div>